.idea

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
settings_local.py
db.sqlite3
media
venv

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

#certificates
*.pem

# secrets
secrets.yaml
