html, body {
  margin: 0;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .content {
    flex: 1 0 auto;
  }
}

.background {
  background-image: linear-gradient(to right, #f5f2e8 0%, #faf9f6 100%), linear-gradient(to top, #000000 0%, #ffffff 100%);
}

.debate-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  img {
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  span {
    color: #252525;
    font-family: Poppins;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

.toast-custom-background {
  background-color: #ffcc00;
}

.toast-black-font-stlye {
  color: black;
}
.checkmark-icon {
  background-image: './tick.png'
}
.toast-button-class {
 color: black
}
.header-buttons {
  margin: 10px 10px 10px 0;
  router-link {
    color:#fff !important;
  }

  span {
    color:white
  }
}

.split-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
  }

  .container-child {
    flex: 1 0 100%;

    @media (min-width: 992px) {
      flex: 1 0 50%;
    }

    &:nth-child(1) {
      background-image: linear-gradient(to right, #f5f0e2 0%, #fbfbfa 100%);
    }

    .wrapper {
      padding: 0 20px;
      display: flex;
      height: 100%;
      justify-content: start;
      flex-direction: column;


      @media (min-width: 1200px) {
        padding: 20px 60px 60px;
      }

      .debate-logo {
        display: none;
        margin: 20px;

        @media (min-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        @media (min-width: 992px) {
          margin: 0;
          flex-direction: row;
        }

        img {
          height: 80px;
          margin-bottom: 20px;

          @media (min-width: 1200px) {
            margin-bottom: 0;
          }

          @media (max-width: 1200px) {
            height: 50px;
          }
        }

        span {
          @media (min-width: 768px) {
            text-align: center;
          }

          @media (min-width: 1200px) {
            text-align: left;
          }
        }
      }
    }
  }
}

.tags {
  list-style: none;
  margin-top: 20px;
  // overflow: hidden;
  padding: 0;
}
.tag {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 14px;
  border: 2px solid #3098f3;

  img {
    height: 1em; 
    vertical-align: middle;
    margin-bottom: 2px;
  }
  img:hover {
    cursor: pointer;
  }
}
.tag-text {
  color: #000000;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: normal;
  line-height: 18px;
  text-align: center;
}

.login-container, .profile-container {
  height: 100%;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

    @media (min-width: 576px) {
      width: 75%
    }

    @media (min-width: 992px) {
      width: 50%
    }

    @media (min-width: 1400px) {
      width: 33%;

      @media (min-height: 900px) {
        justify-content: center;
        align-items: center;

        .debate-logo {
          top: 20px;
        }
      }
    }

    .debate-logo {
      margin: 20px 0;

      img {
        width: 160px;
      }
    }

    .registration-form-container {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 20px 20px 0 20px;
      margin-top: 20px;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        padding: 30px 30px 0 30px;
      }

      @media (min-height: 1400px) {
        margin-top: 80px;
      }

      h1 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin: 0;
        font-weight: 700;

        @media (min-width: 768px) {
          font-size: 30px;
          line-height: 40px;
          text-align: left;
        }
      }

      label {
        line-height: 32px;
        font-size: 16px;
        display: block;
        margin-top: 10px;

        @media (min-width: 768px) {
          line-height: 40px;
          font-size: 20px;
        }
      }

      input {
        box-sizing: border-box;
        width: 100%;
      }
    }

    .link, .login-text {
      font-family: Poppins;
      font-size: 14px;
      line-height: 28px;
      color: #252525;

      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 32px;
      }
    }

    .link {
      text-decoration: underline;

      &:hover {
        color: #3098f3;
      }
    }

    .line {
      margin-top: 26px;
      margin-bottom: 0;
      width: 100%;
    }

    .login-text {
      text-align: center;
    }

    .password-reset-text {
      text-align: right;
    }

    button {
      box-shadow: none;
      border: none;
      padding: 10px 20px;
      border-radius: 32px;
      background-color: #3098f3;
      opacity: 0.7;
      color: #ffffff;
      font-family: "Poppins";
      font-style: italic;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2.16px;
      display: block;
      margin-top: 26px;
      cursor: pointer;
      float: right;

      @media (min-width: 768px) {
        font-size: 24px;
        padding: 12px 32px;
      }
    }

    button:disabled {
      opacity: 0.1;
    }

    button:hover {
      opacity: 1;
    }
  }
}

textarea,
select,
input {
  border: 3px solid #3098f3;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  padding: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
    border-width: 4px;
  }
}

select {
  width: 50%;
  height: 48px;

  @media (min-width: 768px) {
    height: 60px;
  }
}

input {
  box-sizing: border-box;
}

input[type=number] {
  width: 60px;
}

label {
  color: #252525;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-size: 16px;
  line-height: 32px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 40px;
  }
}

.btn {
  text-decoration: none;
  margin-left: 6px;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  border: 2px solid #3098f3;
  background-color: #3098f3;
  font-family: "Poppins";
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  color:white;


  a {
    color:white
  }

  &:disabled {
    opacity: 0.1;
  }
  &:hover {
    opacity: 1;
  }


  &.login {
    border-color: #ffcc00;
    background-color: transparent;
    color: #000000;
    border: 2px solid #ffcc00;
    border-radius: 3rem;
    overflow: hidden;
  }
  

  &.suggest {
    width: max-content;
    margin: 0 40px;
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    margin-left: 10px;
    border-width: 4px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
    letter-spacing: 2px;
  }
}



.pagination {
  font-family: "Poppins";
  width: 100%;
  margin-bottom: 20px;


  .rotate-arrow {
    transform: rotate(180deg);
  }
  path:hover {
    fill:white;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: inline-flex;
    padding: 0 0.5rem;
    margin: 0;

    li {
      list-style: none;
      margin: 0 0.1rem;
    }
  }

  button, li {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: black;
    cursor: pointer;

    &.active-page {
      background-color: #ffcc00;
    }

    &:hover, &.active-page:hover {
      background-color: #3098f3;
      color:white;

      path {
        fill:white;
      }
      polygon {
        fill:white;
      }
      li {
        color:white;
      }
    }

    &.disabled {
      background-color: transparent;
      cursor: default;
      color: black;
    }
  }

  button {
    margin: 0 0.25rem;
    background-color: rgba(48, 152, 243, 0.1);
    border: none;
  }
}

.button {
  text-decoration: none;
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  border: 2px solid #3098f3;
  background-color: #3098f3;
  font-family: "Poppins";
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  pointer-events: auto;
  cursor: pointer;
  margin: 0;
  position: relative;
  display: inline-block;

  &.suggest {
    width: max-content;
    margin: 0 40px;
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    border-width: 4px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
    letter-spacing: 2px;

  }
}




.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button--pan {
  border-color: #ffcc00;
  background: #ffcc00;
  color: #000000;
  border: 2px solid #ffcc00;
  border-radius: 3rem;
  overflow: hidden;
  margin-left: 10px;
}

.button--pan span {
  position: relative;
  color: black;
}


.button--pan::before {
  content: '';
  background: white;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pan:hover::before {
  transform: translate3d(0,-100%,0);
}

.button--suggest {
  border-color: #3098f3;
  color: #000000;
  border: 2px solid #3098f3;
  border-radius: 3rem;
  overflow: hidden;
  background: #3098f3;

  &.suggest {
    width: max-content;
    margin: 0 40px;
    margin-bottom: 50px;
  }

}

.button--suggest:hover {
  background: #D6EAFD;
}

.button--suggest span {
  position: relative;
  color: white;
}


.button--suggest::before {
  content: '';
  background: #3098f3;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--suggest:hover::before {
  transform: translate3d(0,-100%,0);
}

